/* Estilo para el contorno del formulario */
    .form-container {
        @apply   dark:text-gray-100 border-2 border-pink-500 p-4 rounded-lg;
        padding: 6px;
    }

    .form-container input {
        @apply bg-transparent;
    }

    .form-input {
        @apply bg-transparent;
    }

    /* Estilo para los elementos select */
    select.form-input {
        background-color: transparent;
        color: inherit;
        appearance: none;
        -webkit-appearance: none; /* Para eliminar el estilo por defecto en navegadores WebKit */
        -moz-appearance: none;
    }

    /* Estilo para las opciones del select */
    select.form-input option {
        background-color: transparent !important;
        color: black !important; /* Asegura que el texto sea negro */
    }

    /* Estilo para los botones del formulario */
    .form-button {
        @apply px-4 py-2 bg-pink-600 text-white font-semibold rounded-lg shadow-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2;
    }

    /* Estilo general para el formulario */
    .form-wrapper {
        @apply space-y-4 p-6 bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700;
    }

/* Fin Estilo para el contorno del formulario */

/* Estilo Reportes*/



/* Fin Estilo Reportes*/

/*Estilos Tablas*/
    .financial-summary {
        @apply overflow-x-auto;
        margin-top: 1rem; /* Espaciado superior */
        padding: 1rem; /* Espaciado interno */
        border: 1px solid #e2e8f0; /* Borde ligero */
        border-radius: 0.375rem; /* Esquinas redondeadas */
        background-color: #f9fafb; /* Fondo gris claro */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    .financial-table {
        margin-top: 1rem; /* Espaciado superior */
        width: 100%; /* Ancho completo */
        border-collapse: collapse; /* Colapsa los bordes */
       /* @apply table-auto min-w-full;*/
       /* @apply max-h-80 overflow-y-auto; */
    }

    .financial-summary a {
        color: #ec4899;       /* Cambiar color de texto a negro */
        font-weight: 600;   /* Cambiar el grosor de la letra */
        display: block;     /* Para que el 'a' ocupe todo el ancho del div */
        text-align: center; /* Centrar el contenido */
    }

    .financial-table th, .financial-table td {
        border: 1px solid #e2e8f0; /* Borde ligero */
        padding: 0.75rem; /* Espaciado interno */
        text-align: left; /* Alineación del texto */
        @apply text-sm sm:text-base;
    }

    .financial-table th {
        background-color: #f3f4f6; /* Fondo de encabezado */
        color: #1f2937; /* Color del texto */
        font-weight: 400; /* Peso de la fuente */
    }

    .financial-table td {
        background-color: #ffffff; /* Fondo blanco */
        color: #191a1b; /* Color del texto */
    }

    .financial-table td.textCenter {
        text-align: center; /* Centrar el texto */
    }
    
    .financial-table .total-row td {
        font-weight: 700; /* Peso de la fuente para la fila total */
        background-color: #f9fafb; /* Fondo gris claro */
    }

    .financial-table th.descrip {
        color: #ec4899; /* Color rosa para el texto */
        font-weight: bold; /* Negrilla */
    }

    .divs texth2{
        color: #ec4899; /* Color rosa para el texto */
        font-weight: bold; /* Negrilla */
    }

    .white-text {
        color: white;
    }
/*Fin Estilos Tablas*/

/* Modales*/
    .modal {
        display: flex; /* Change to flex for visibility control */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Ensure modal is above other content */
    }
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        text-align: center;
        position: relative;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
    }
/* Fin Modales*/

/* inicio menu*/
    /* Contenedor del menú desplegable */
 
    .dropdown-item {
        display: block;
        padding: 0.5rem 1rem;
        color: #4a5568; /* Color de texto */
        text-decoration: none;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    /* Fondo en hover para el menú desplegable */
    .dropdown-item:hover {
        background-color: #f0f0f0; /* Fondo en hover para modo claro */
        color:rgb(156 163 175); /* Color de texto en hover */
        font-weight: 600; /* Resalta el texto en negrita */
    }

    /* Estilo para la opción activa */
    .dropdown-item.active {
        border-bottom: 2px solid #4a5568; /* Línea inferior en la opción activa */
        color:rgb(67, 56, 202); /* Color de texto en la opción activa */
        font-weight: 600; /* Resalta el texto en negrita */
    }

    /* Fondo oscuro para el modo oscuro */
    .dark .dropdown-item:hover {
        background-color: #4a5568; /* Fondo en hover para modo oscuro */
        color: #edf2f7; /* Color de texto en hover */
    }

    .dark .dropdown-item.active {
        border-bottom: 2px solid #edf2f7; /* Línea inferior en modo oscuro */
        color: #edf2f7; /* Color de texto en la opción activa */
    }

/*fin menu*/

@tailwind base;
@tailwind components;
@tailwind utilities;
